.body {
    width: 1440px;
    height: 3536px;
    
}
.header {
    background-image: url('/images/header.photo.jpg'); 
    width: 1440px;
    height: 754px;
    background-repeat: no-repeat;
    position: relative;
    
    

    
}
.navigation {
    width: 366px;
    height: 20px;
    position: absolute;
    
    margin-top: 40px;
    margin-left: 201px;
    
}
.ul-item {
    width: 366px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

    
}
.li-item {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: black;

}
.button {
    position: absolute;
    width: 78px;
    height: 40px;
    background-color: #F84646;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 1227px;
}
.button-item {
    color: #FFFFFF;
}
.paragraph {
    position: absolute;
    width: 665px;
    height: 283px;
    margin-top: 200px;
    margin-left: 122px;
}
.title {
    width: 665px;
    height: 82px;
    line-height: 82px;
    font-family: 'Manrope', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #000000;

}
.paragraph-p {
    
    width: 650px;
    height: 99px;
    line-height: 36px;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight:400;
    letter-spacing: 0.2px;
    color: #000000;
    text-align: left;
    margin-top: 102px;
    
}
.section {
    width: 1153px;
    height: 802px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    align-content: center;
    margin-top: 48px;
    margin-left: 135px;
    
}
.section-title {
    width: 428px;
    height: 56px;
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    line-height: 49.18px;
    color: #000000;
    margin-left: 506px;

}
.section-p {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-style: normal;
    color: #000000;
    line-height: 39.5px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 86px;
    margin-left: 223px;
    

    
}
.container {
    width: 1153px;
    height: 508px;
    margin-top: 208px;
    margin-left: 135px;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 100px;
    
    
}
.container-box {
    width: 300px;
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.vector1 {
    width: 61.75px;
    height: 59.37px;
    
}
.container-box-title {
    font-family: 'Manrope', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}
.container-box-p {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    text-align: center;



}
.vector {
    width: 76px;
    height: 76px;
}
.darkblue{
    width: 45px;
    height: 45px;
    
}